{% extends "base.html" %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.summary}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<div id="content">
  <div class="inner">
    <article class="box post post-excerpt">
      <header>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <p>{{article.headline}}</p>
      </header>
      <div class="info">
        <span class="date" datetime="{{ article.date.isoformat() }}"><span class="month">{{ article.date |
            strftime('%b') }}</span> <span class="day">{{ article.date | strftime('%d') }}</span> <span class="month">
            {{ article.date | strftime('%Y') }}</span></span>
        <ul class="stats">
          <li><a
              href="mailto:?Subject={{article.title}}&Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ SITEURL }}/{{ article.url }}"
              class="icon fa-envelope">&nbsp;</a></li>
          <li><a href="http://reddit.com/submit?url={{ SITEURL }}/{{ article.url }}&title=#{{article.title}}" class="
              icon fa-reddit">&nbsp;</a></li>
          <li><a href="https://twitter.com/share?url={{ SITEURL }}/{{ article.url }}" class="icon fa-twitter">&nbsp;</a>
          </li>
          <li><a href="https://www.facebook.com/sharer.php?u={{ SITEURL }}/{{ article.url }}"
              class="icon fa-facebook">&nbsp;</a></li>
        </ul>
      </div><!-- /.post-info -->
      <div class="entry-content"> &nbsp; </div><!-- /.entry-content -->
    </article>
    {{ article.content }}
  </div><!-- /.entry-content -->
  <!-- Pagination -->
  <div class="pagination">
    {% if article.prev_article %}
    <a class="button previous" href="{{ SITEURL }}/{{ article.prev_article.url}}">
      {{ article.prev_article.title }}
    </a>
    {% endif %}
    {% if article.next_article %}
    <a href="{{ SITEURL }}/{{ article.next_article.url}}" class="button next">{{ article.next_article.title }}</a>
    {% endif %}
  </div>

</div>
</div>
{% endblock %}